.modal-farm {
  &.edit {
    .modal-server__icon {
      background-color: $azure;
    }
  }

  &__container {
    width: 100%;
    height: fit-content;
    padding: 4rem 7.7rem 5rem 7.7rem;
  }

  &__alert-text {
    position: fixed;
    left: 50%;
    top: 10rem;
    z-index: 6;
    display: flex;
    align-items: center;
    min-width: 40rem;
    width: fit-content;
    padding: 1.6rem 2.6rem 1.6rem 6rem;
    border-radius: 100rem;
    transform: translateX(-50%);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: .02em;
    opacity: 0;
    transition: opacity .2s ease;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: -2;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background-color: white;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }

    p {
      width: 100%;
      transform: translateY(1px);
      text-align: center;
    }

    > svg {
      position: absolute;
      top: 50%;
      opacity: 0;
      transform: translateY(-50%);
      transition: opacity .2s ease;

      &.ok {
        left: 1.4rem;
        width: 3.3rem;
        height: 3.3rem;
      }

      &.no {
        left: .8rem;
        width: 4.3rem;
        height: 4.3rem;
      }
    }

    &.ok {
      opacity: 1;
      background-color: rgba(135, 212, 73, 0.2);
      color: #395721;

      &:after {
        background-color: rgba(135, 212, 73, 0.2);
      }

      > svg.ok {
        opacity: 1;
      }
    }

    &.error {
      opacity: 1;
      background-color: rgba(235, 55, 109, 0.2);
      color: #EB376D;

      &:after {
        background-color: rgba(235, 55, 109, 0.2);
      }

      > svg.no {
        opacity: 1;
      }
    }
  }

  &__title-box {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    margin-right: 1.6rem;
    border-radius: 100%;
    background-color: $green;

    > svg {
      width: 3.2rem;
      height: 3.2rem;
    }

    @keyframes loading {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    > img {
      display: none;
      width: 4rem;
      height: 4rem;
      object-fit: contain;
      animation: 1s linear loading infinite;
    }

    &.loading {
      background-color: transparent !important;

      > svg {
        display: none;
      }

      > img {
        display: block;
      }
    }
  }

  &__title {
    position: relative;
    font-size: 3rem;
    line-height: 4.4rem;

    .token {
      position: absolute;
      left: 0;
      top: 80%;
      font-size: 2rem;
      color: $gray;
      white-space: nowrap;
    }
  }

  &__content {}

  &__form-title {
    position: relative;
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 3.2rem;

    .error-text {
      position: absolute;
      left: 0;
      top: 100%;
      font-size: 1.3rem;
      line-height: 1;
      color: $red;
      opacity: 0;
      cursor: default;
      transition: opacity .25s ease;

      &.error {
        opacity: 1;
      }
    }

    .modal-server__sure-box {
      top: 50%;
      height: 7.7rem;
      transform: translateY(-50%);
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 3.5rem;

    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }

  &__form-item {
    &.flex-5 {
      width: 6.8rem;
      height: 8.7rem;
    }

    &.flex-20 {
      flex: 17%;
      max-width: 28.8rem;
    }

    &.flex-25 {
      flex: 20%;
      max-width: 37.5rem;
    }

    &.flex-33 {
      flex: 30%;
      max-width: 50.6rem;
    }

    &.flex-50 {
      flex: 45%;
      max-width: 77rem;
    }

    &.flex-75 {
      flex: 70%;
      max-width: 116.6rem;
    }

    &.flex-100 {
      flex: 100%;
    }

    &.error {
      .modal-server__item-title-box {
        color: $red;
      }

      .modal-server__label {
        background-color: rgba(235, 55, 109, 0.2);
        color: $red;

        > input::placeholder {
          color: #BFA0A9;
        }
      }
    }

    &.ok {
      .modal-server__label {
        background-color: rgba(170, 224, 127, 0.3);
      }
    }
  }

  &__item-title-box {
    display: flex;
    align-items: center;
    min-height: 2.2rem;
    margin-bottom: .8rem;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #93A1B2;

    > p {
      transform: translateY(1px);
    }
  }

  &__item-tooltip {
    position: relative;
    width: 2.2rem;
    height: 2.2rem;
    margin-left: 1rem;
    border-radius: 100%;
    background-color: #EFF1F7;

    &:before {
      content: '?';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.4rem;
      color: #93A1B2;
    }

    > p {
      position: absolute;
      left: 100%;
      bottom: 100%;
      max-width: 25rem;
      padding: .5rem 1rem;
      border-radius: 100rem;
      background-color: #EEEFF5;
      text-transform: none;
      visibility: hidden;
      opacity: 0;
      transition: visibility .4s ease, opacity .4s ease;
      cursor: default;
    }

    &:hover {
      > p {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__label-box {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    height: 5.7rem;

    &--textarea {
      height: 12.2rem;

      .modal-farm__label {
        padding: 1.7rem 2rem;
      }
    }

    &.error {
      .error-text {
        opacity: 1;
      }
    }

    &.active {
      z-index: 2;
    }
  }

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    border-radius: 2rem;
    background: rgb(241, 241, 246);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: .02em;
    cursor: pointer;

    > input,
    > textarea {
      width: 100%;
      height: 100%;
      resize: none;

      &::placeholder {
        color: #92A1B2;
      }
    }

    > input[type="radio"] {
      display: none;
    }

    .text {
      transform: translateY(1px);
    }

    &.active-radio {
      .modal-server__radio-icon {
        background-color: $green;
      }

      .modal-server__owner-icon {
        background-color: $purple;

        &.net {
          background-color: $pink;
        }
      }
    }

    &.select {
      > svg {
        width: 1.4rem;
        height: .8rem;
      }

      > p {
        width: 100%;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.6rem;
        letter-spacing: .02em;

        .gray {
          font-weight: 700;
          color: #92A1B2;
        }
      }
    }

    .error-text {
      position: absolute;
      left: 2rem;
      top: 100%;
      font-weight: 700;
      font-size: 1.3rem;
      line-height: 1.9rem;
      color: $red;
      opacity: 0;
      cursor: default;
      transition: opacity .25s ease;
    }
  }

  &__buttons {
    flex: 100%;
    display: flex;
    gap: 2rem;
    margin-top: 2.5rem;
  }

  &__submit {
    display: flex;
    align-items: center;
    min-width: 20.4rem;
    height: 6rem;
    padding: 0 .8rem;
    border-radius: 100rem;
    background-color: $purple;
    font-weight: 800;
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: .09em;
    text-transform: uppercase;
    color: white;
    transition: background-color .3s ease;

    .icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4.8rem;
      height: 4.8rem;
      margin-right: 2.2rem;
      border-radius: 100%;
      background-color: rgba(173, 184, 255, 0.4);
      transition: background-color .3s ease, color .3s ease;

      > svg {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        width: 2.2rem;
        height: 2.2rem;
        transform: translate(-50%, -50%);

        path {
          stroke: white;
          transition: stroke .3s ease;
        }

        &.ok {
          width: 2.2rem;
          height: 2.2rem;
        }

        &.no {
          display: none;
          width: 2.8rem;
          height: 2.8rem;
        }
      }

      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 100%;
        transform: translate(-50%, -50%);
        background-color: #ADB8FF;
        transition: background-color .3s ease;
      }
    }

    span {
      transform: translateY(1px);
    }

    &:not(.disable) {
      @include btn-hover;
    }

    &.disable {
      background-color: #F3F4F8;
      color: #92A1B2;
      cursor: default;

      .icon {
        background-color: rgba(179, 184, 215, 0.4);

        &:before {
          background-color: #B3B8D7;
        }

        > svg {
          &.ok {
            display: none;
          }

          &.no {
            display: block;
          }
        }
      }
    }

    &.active {
      background-color: $green;

      .icon {
        background-color: #A5DC79;

        &:before {
          background-color: #BFE99F;
        }
      }
    }
  }

  &__cancel-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.8rem 3.8rem;
    border-radius: 100rem;
    background-color: rgba(238, 239, 245, 0.7);
    font-weight: 800;
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: .09em;
    text-transform: uppercase;
    @include btn-hover;

    span {
      transform: translateY(1px);
    }
  }
}